<div class="Box mb-8">
  <div class="Box-header">
    <h1>Login</h1>
  </div>
  <% if alert.present? %>
    <div class="flash flash-error mt-2 mx-2"><%= alert %></div>
  <% end %>

  <%= form_for Session.new, html: {class: "d-flex flex-column p-2"} do |form| %>
    <div class="d-flex flex-column mt-4">
      <%= form.label :login %>
      <%= form.text_field :login,
            type: :text,
            class: "form-control f4",
            pattern: "[a-zA-Z0-9_]{3,}",
            title: "Enter a valid username made up of only letters, numbers, or underscores",
            autocapitalize: "none"
      %>
    </div>

    <div class="d-flex flex-column mt-4">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control f4" %>
    </div>

    <%= submit_tag "Login", class: "btn btn-primary flex-self-baseline mt-4" %>
  <% end %>
</div>
