<%= form_with(model: deck, local: true, class: "d-flex flex-column") do |form| %>
  <% if deck.errors.any? %>
    <div class="flash flash-error mt-2">
      <h2><%= pluralize(deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul class="mx-4">
        <% deck.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column mt-4">
    <%= form.label :title, class: "mb-2 text-white" %>
    <%= form.text_field :title, class: "form-control f4" %>
  </div>

  <div class="d-flex flex-column flex-1 mt-4">
    <%= form.label :raw, class: "mb-2 text-white" %>
    <%= form.text_area :raw, class: "form-control input-monospace f4 flex-1", style: "min-height: 65vh" %>
  </div>

  <%= form.submit class: "btn btn-primary flex-self-baseline mt-4" %>
<% end %>
