<% if notice.present? %>
  <p class="flash mt-2"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="flash flash-error mt-2"><%= alert %></p>
<% end %>

<% if Current.user.signed_in? %>
  <%= link_to "New Deck", new_deck_path, class: "btn btn-primary my-2", role: "button" %>
<% end %>
<div id="decks" class="Box mb-8">
  <div class="Box-header">
    <filter-input aria-owns="decks">
      <label>
        Filter decks
        <input type="text" autofocus autocomplete="off" class="form-control input-block f4">
      </label>
    </filter-input>
  </div>

  <div data-filter-list>
    <% @decks.each do |deck| %>
      <div class="Box-body d-flex flex-row flex-wrap">
        <h4 class="flex-1 mb-2"><%= deck.title %></h4>
        <details class="flex-md-0 mt-2 mb-4 mb-sm-2 mb-md-0 flex-md-order-1 width-full">
          <summary>Preview</summary>
          <pre class="mt-2 overflow-scroll"><%= deck.raw %></pre>
        </details>
        <span class="flex-0">
          <%= link_to(spontaneous_event_show_path(deck_id: deck), class: "btn btn-outline mr-2 my-2 my-md-0 d-flex flex-items-center") do %>
            <%= octicon(:play, class: "mr-2") %>
            Present
          <% end %>
        </span>
        <% if Current.user.signed_in? %>
          <span class="flex-0"><%= link_to "Edit", edit_deck_path(deck), class: "btn mr-4 my-2 my-md-0" %></span>
          <span class="flex-0"><%= link_to "Destroy", deck, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger my-2 my-md-0" %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div data-filter-empty-state hidden class="Box-body">No decks match</div>
</div>
