<p id="notice"><%= notice %></p>

<div class="pagehead">
  <h1>Decks</h1>
</div>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">
      Title
    </h3>
  </div>
  <% @decks.each do |deck| %>
    <div class="Box-body d-flex">
      <span class="flex-1"><%= deck.title %></span>
      <details class="flex-1">
        <summary>Raw</summary>
        <%= deck.raw %>
      </details>
      <%= link_to 'Show', deck, class: "flex-0 px-2" %>
      <%= link_to 'Edit', edit_deck_path(deck), class: "flex-0 px-2" %>
      <%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' }, class: "flex-0 px-2" %>
    </div>
  <% end %>
</div>

<%= link_to 'New Deck', new_deck_path, class: "btn mt-2", role: "button" %>
