<!DOCTYPE html>
<html>
  <head>
    <title>Transparency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/pwa.json">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Header">
      <div class="Header-item">
        <a href="#" class="Header-link f4 d-flex flex-items-center">
          <%= octicon "book", class: "mr-2", height: 32 %>
          <span>Songbook</span>
        </a>
      </div>
    </div>

    <div class="mx-auto px-2 mb-6" style="max-width: 1004px">
      <%= yield %>
    </div>
  </body>
</html>
