<!DOCTYPE html>
<html class="height-full">
  <head>
    <title><%= @title || "Transparency" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/pwa.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">

    <%= stylesheet_pack_tag "imports", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body style="height: 100vh; touch-action: manipulation;" class="bg-gray-dark">
    <% unless @hide_header %>
      <div class="Header">
        <div class="Header-item">
          <a href="/" class="Header-link f4 d-flex flex-items-center">
            <%= octicon "book", class: "mr-2", height: 32 %>
            <span>Songbook</span>
          </a>
        </div>
      </div>
    <% end %>

    <% if @presenting %>
      <%= yield %>
    <% else %>
      <div class="mx-auto px-2" style="max-width: 1004px">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
